* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(../images/alexander-grey-62vi3TG5EDg-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
        font-family: "Caveat", serif;
        font-style: normal;
}
.wrapper {
    padding: 50px 0;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    height: 250px;
}
.title {
    font-size: 60px;
    margin: 0;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 40px;
}

#birthdate {
    border: 1px solid #FF69B4;
    border-radius: 5px;
    width: 45%;
    font-size: 20px;

}
.btn {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 50%;
    font-size: 20px;
    color: #ffffff;
    background-color: #FF69B4;
}
.message {
    color:red;
}

.text {
    display: none;
    font-size: 20px;
}